<h1>Words</h1>

<div id="words_index">
  
<div id="controls">
<input class="search" placeholder="Search" />
<button class="sort" data-sort="text">
  Sort by text
</button>
<button class="sort" data-sort="temp">
  Sort by temp
</button>
<button class="sort" data-sort="created_at">
  Sort by created_at
</button>
</div>


<table >
  <thead>
    <tr>
      <th>Text</th>
      <th>Temp</th>
      <th>Clouds</th>
      <th>Pressure</th>
      <th>Wind</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="list">
    <% @words.each do |word| %>
      <tr>
        <td class="text"><%= word.text %></td>
        <td class="temp"><%= word.temp %></td>
        <td class="clouds"><%= word.clouds %></td>
        <td class="pressure"><%= word.pressure %></td>
        <td class="wind"><%= word.wind %></td>
        <td class="created_at"><%= word.created_at %>&nbsp;</td>
        <!-- <td><%= link_to 'Edit', edit_word_path(word) %>&nbsp;</td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
  
</div>
